body{
    background-color: oldlace;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    
}

.sectionstyle{
    float: left;
    margin-left:5px;
    width: 48%;
}

.imgJamal{
    width: 75%;
    height: auto;
}
